body{
  background-color: #0A0000;
}

h1{
  color: #FFA72B;
  font-family: 'Star Jedi', arial;
}

.main-box{
  text-align: center;
  margin-top: 20%;
  display: grid;
}

.movie-detail{
  height: 30px;
  width: 80px;
  text-align: center;
}
